<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.getSentimentData(event)">
                    <input id="url" type="text" name="input" value="" placeholder="URL to be analyzed">
                    <input type="submit" name="" value="Analyze" onclick="return Client.getSentimentData(event)">
                </form>
            </section>

            <section>
                
                <p>Status: </p>
                <div id="status"></div><br>

                <p> Polarity: </p>
                <div id="polarity"></div><br>

                <p>Subjectivity:</p>
                <div id="subjectivity"></div><br>

                <p>Confidence:</p>
                <div id="confidence"></div><br>

                <p>Text:</p>
                <div id="text"></div><br>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                // window.addEventListener('load', () => {
                    // navigator.serviceWorker.register('/service-worker.js');
                // });
            // }
        </script>
        
    </body>
</html>